.customizer-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
}
.auth-customizer-none .customizer-btn {
    display: none !important;
}
.customizer-box label.btn {
    background: 0 0 !important;
    color: var(--bs-body-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0 9px 17.5px !important;
    border: 1px solid var(--bs-border-color) !important;
    display: flex;
    align-items: center;
    transition: all 0.1s ease-in 0s;
    min-width: 80px;
}
.customizer-box label.btn:hover {
    color: var(--bs-primary);
    transform: scale(1.05);
}
.customizer-box .btn-check:checked + .btn,
.customizer-box .btn.active,
.customizer-box .btn.show,
.customizer-box .btn:first-child:active,
.customizer-box :not(.btn-check) + .btn:active {
    color: var(--bs-body-color);
}
.customizer-box .btn-check:checked + .btn .icon,
.customizer-box .btn.active .icon,
.customizer-box .btn.show .icon,
.customizer-box .btn:first-child:active .icon,
.customizer-box :not(.btn-check) + .btn:active .icon {
    color: var(--bs-primary);
}
.customizer-box.color-pallete .btn-check:checked + .btn .icon,
.customizer-box.color-pallete .btn.active .icon,
.customizer-box.color-pallete .btn.show .icon,
.customizer-box.color-pallete .btn:first-child:active .icon,
.customizer-box.color-pallete :not(.btn-check) + .btn:active .icon {
    opacity: 1;
}
.customizer-box.color-pallete label .color-box {
    width: 25px;
    height: 25px;
}
.customizer-box.color-pallete label .color-box .icon {
    opacity: 0;
}
.customizer-box.color-pallete label .color-box.skin-1 {
    background-color: #5d87ff;
}
.customizer-box.color-pallete label .color-box.skin-2 {
    background-color: #0074ba;
}
.customizer-box.color-pallete label .color-box.skin-3 {
    background-color: #763ebd;
}
.customizer-box.color-pallete label .color-box.skin-4 {
    background-color: #0a7ea4;
}
.customizer-box.color-pallete label .color-box.skin-5 {
    background-color: #01c0c8;
}
.customizer-box.color-pallete label .color-box.skin-6 {
    background-color: #fa896b;
}
.customizer-box.color-pallete label .color-box.skin-7 {
    background-color: #0f9b0f;
}
.customizer-box.color-pallete label .color-box.skin-8 {
    background-color: #6be585;
}
.customizer-box.color-pallete label .color-box.skin-9 {
    background-color: #411a04;
}