.p-0 {
    padding: 0 !important;
}
.p-1 {
    padding: 0.25rem !important;
}
.p-2 {
    padding: 0.5rem !important;
}
.p-3 {
    padding: 1rem !important;
}
.p-4 {
    padding: 1.5rem !important;
}
.p-5 {
    padding: 3rem !important;
}
.p-6 {
    padding: 12px !important;
}
.p-7 {
    padding: 30px !important;
}
.p-8 {
    padding: 10px !important;
}
.p-9 {
    padding: 20px !important;
}
.p-10 {
    padding: 36px !important;
}
.p-11 {
    padding: 216px !important;
}
.p-12 {
    padding: 96px !important;
}
.p-13 {
    padding: 48px !important;
}
.p-14 {
    padding: 66px !important;
}
.p-15 {
    padding: 160px !important;
}
.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.px-1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
}
.px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}
.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}
.px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}
.px-6 {
    padding-right: 12px !important;
    padding-left: 12px !important;
}
.px-7 {
    padding-right: 30px !important;
    padding-left: 30px !important;
}
.px-8 {
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.px-9 {
    padding-right: 20px !important;
    padding-left: 20px !important;
}
.px-10 {
    padding-right: 36px !important;
    padding-left: 36px !important;
}
.px-11 {
    padding-right: 216px !important;
    padding-left: 216px !important;
}
.px-12 {
    padding-right: 96px !important;
    padding-left: 96px !important;
}
.px-13 {
    padding-right: 48px !important;
    padding-left: 48px !important;
}
.px-14 {
    padding-right: 66px !important;
    padding-left: 66px !important;
}
.px-15 {
    padding-right: 160px !important;
    padding-left: 160px !important;
}
.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}
.py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.py-6 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}
.py-7 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.py-8 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.py-9 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.py-10 {
    padding-top: 36px !important;
    padding-bottom: 36px !important;
}
.py-11 {
    padding-top: 216px !important;
    padding-bottom: 216px !important;
}
.py-12 {
    padding-top: 96px !important;
    padding-bottom: 96px !important;
}
.py-13 {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}
.py-14 {
    padding-top: 66px !important;
    padding-bottom: 66px !important;
}
.py-15 {
    padding-top: 160px !important;
    padding-bottom: 160px !important;
}
.pt-0 {
    padding-top: 0 !important;
}
.pt-1 {
    padding-top: 0.25rem !important;
}
.pt-2 {
    padding-top: 0.5rem !important;
}
.pt-3 {
    padding-top: 1rem !important;
}
.pt-4 {
    padding-top: 1.5rem !important;
}
.pt-5 {
    padding-top: 3rem !important;
}
.pt-6 {
    padding-top: 12px !important;
}
.pt-7 {
    padding-top: 30px !important;
}
.pt-8 {
    padding-top: 10px !important;
}
.pt-9 {
    padding-top: 20px !important;
}
.pt-10 {
    padding-top: 36px !important;
}
.pt-11 {
    padding-top: 216px !important;
}
.pt-12 {
    padding-top: 96px !important;
}
.pt-13 {
    padding-top: 48px !important;
}
.pt-14 {
    padding-top: 66px !important;
}
.pt-15 {
    padding-top: 160px !important;
}
.pe-0 {
    padding-right: 0 !important;
}
.pe-1 {
    padding-right: 0.25rem !important;
}
.pe-2 {
    padding-right: 0.5rem !important;
}
.pe-3 {
    padding-right: 1rem !important;
}
.pe-4 {
    padding-right: 1.5rem !important;
}
.pe-5 {
    padding-right: 3rem !important;
}
.pe-6 {
    padding-right: 12px !important;
}
.pe-7 {
    padding-right: 30px !important;
}
.pe-8 {
    padding-right: 10px !important;
}
.pe-9 {
    padding-right: 20px !important;
}
.pe-10 {
    padding-right: 36px !important;
}
.pe-11 {
    padding-right: 216px !important;
}
.pe-12 {
    padding-right: 96px !important;
}
.pe-13 {
    padding-right: 48px !important;
}
.pe-14 {
    padding-right: 66px !important;
}
.pe-15 {
    padding-right: 160px !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}
.pb-1 {
    padding-bottom: 0.25rem !important;
}
.pb-2 {
    padding-bottom: 0.5rem !important;
}
.pb-3 {
    padding-bottom: 1rem !important;
}
.pb-4 {
    padding-bottom: 1.5rem !important;
}
.pb-5 {
    padding-bottom: 3rem !important;
}
.pb-6 {
    padding-bottom: 12px !important;
}
.pb-7 {
    padding-bottom: 30px !important;
}
.pb-8 {
    padding-bottom: 10px !important;
}
.pb-9 {
    padding-bottom: 20px !important;
}
.pb-10 {
    padding-bottom: 36px !important;
}
.pb-11 {
    padding-bottom: 216px !important;
}
.pb-12 {
    padding-bottom: 96px !important;
}
.pb-13 {
    padding-bottom: 48px !important;
}
.pb-14 {
    padding-bottom: 66px !important;
}
.pb-15 {
    padding-bottom: 160px !important;
}
.ps-0 {
    padding-left: 0 !important;
}
.ps-1 {
    padding-left: 0.25rem !important;
}
.ps-2 {
    padding-left: 0.5rem !important;
}
.ps-3 {
    padding-left: 1rem !important;
}
.ps-4 {
    padding-left: 1.5rem !important;
}
.ps-5 {
    padding-left: 3rem !important;
}
.ps-6 {
    padding-left: 12px !important;
}
.ps-7 {
    padding-left: 30px !important;
}
.ps-8 {
    padding-left: 10px !important;
}
.ps-9 {
    padding-left: 20px !important;
}
.ps-10 {
    padding-left: 36px !important;
}
.ps-11 {
    padding-left: 216px !important;
}
.ps-12 {
    padding-left: 96px !important;
}
.ps-13 {
    padding-left: 48px !important;
}
.ps-14 {
    padding-left: 66px !important;
}
.ps-15 {
    padding-left: 160px !important;
}